<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to ADMIN PAGE!</h1>
<p>Here's some secret info</p>
<br/>
<hr/>
<a th:href="@{/authenticated/admin}">Redact Users</a>
<br/>
<br/>
<br/>
<a th:href="@{/index}">back to main page</a>
<br/>
<br/>
<br/>
<a th:href="@{/logout}">time to logout</a>
<hr/>
<a href="https://www.arngren.net/">r u sure u want to click here?</a>
</body>
</html>