<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


</head>
<body>
<!--Верхняя Навигация -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="bg-dark text-white col-12 py-2" id="userHeader"></div>
</nav>


<div class="row">
    <!-- Левый блок -->
    <div class="col-sm-2 bg-white min-vh-100">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#AdminPage">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#UserPage">User</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="tab-content">
            <!--Тут Admin-->
            <!--Панель-->
            <div class="tab-pane container-fluid active" id="AdminPage">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#userTable">Users info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane container-fluid active" id="userTable">
                        <div class="row">
                            <div class="col border bg-light">
                                <p><h4><strong>All users</strong></h4></p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col border bg-white">
                                <br/>
                                <table class="table table-striped">

                                    <tr>
                                        <th>ID</th>
                                        <th>FIRSTNAME</th>
                                        <th>LASTNAME</th>
                                        <th>EMAIL</th>
                                        <th>AGE</th>
                                        <th>ROLES</th>
                                        <th>EDIT</th>
                                        <th>DELETE</th>
                                    </tr>
                                    <tbody id = "usersTable">
                                    </tbody>
                                </table>
                            </tbody>
                        </div>
                    </div>
                    </div>

                    <div class="tab-pane container-fluid fade" id="newUser">
                        <div class="row">
                            <div class="col border bg-light">
                                <p><h4><strong>Add new user</strong></h4></p>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div class="col-3 "></div>
                            <div class="col-12 bg-white">
                                <br/>
                                <form id="addNewUser">
                                    <label for="firstName"><strong>First name</strong></label>
                                    <input class="d-inline-block w-100" type="text" name="firstName" id="firstName"/>
                                    <br/>
                                    <br/><label for="lastName"><strong>Last name</strong></label>
                                    <input class="d-inline-block w-100" type="text" name="lastName" id="lastName"/>
                                    <br/>
                                    <br/><label for="age"><strong>Age</strong></label>
                                    <input class="d-inline-block w-100" type="number" name="age" id="age"/>
                                    <br/>
                                    <br/><label for="email"><strong>Email</strong></label>
                                    <input class="d-inline-block w-100" type="text" name="email" id="email"/>
                                    <br/>
                                    <br/>
                                    <label for="password"><strong>Password</strong></label>
                                    <input class="d-inline-block w-100" type="password" name="password" id="password"/>
                                    <br/>
                                    <br/>
                                    <strong>Roles</strong>
                                    <select class="d-inline-block w-100" id="newRole" name="role_authorities" size="2" multiple>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="USER">USER</option>
                                    </select>
                                    <br/>
                                    <input class="btn btn-lg btn-success mt-3" type="submit" value="Add new user"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Тут User-->
            <div class="tab-pane container-fluid fade" id="UserPage">
                <!--Панель-->
                <h1>User information-page</h1>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container-fluid active" id="userTable1">
                        <div class="row">
                            <div class="col border bg-light">
                                <p><h5><strong>About user</strong></h5></p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col border bg-white">
                                <br/>
                                <table class="table table-striped">

                                    <tr>
                                        <th>ID</th>
                                        <th>FIRSTNAME</th>
                                        <th>LASTNAME</th>
                                        <th>EMAIL</th>
                                        <th>AGE</th>
                                        <th>ROLE</th>
                                    </tr>
                                    <div>
                                        <tr id="userInfo"></tr>
                                    </div>
                                    </form>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div  id="modalWindow"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>


<script src="userNav.js"></script>
<script src="userInfo.js"></script>
<script src="userList.js"></script>
<script src="deleteModal.js"></script>
<script src="editModal.js"></script>
<script src="addNew.js"></script>



</body>
</html>